.dashBoardpage{
    user-select: none;
    
}
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    padding: 10px;
    background-color: #396373;
    /* margin-top: 20px; */
    /* border-bottom: 6px solid #9E9E9E; */
}
.userActionDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.dashboardBtn{
    /* border-radius: 2px; */
    padding-left: 24px;
    padding-right: 24px;
    margin-left: 10px;
    border: 1px solid;
    box-shadow: none;
}
.userProfile{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding-right: 8px;
    padding-left: 15px;
}
.userIcon{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    font-size: 30px;
}
