<div class="dashBoardpage">
  <div class="form-field d-flex align-items-center Header ">
    <div class="text-center mt-4 name " style="color: white;">CT- Car Pool- Dashboard</div>
    <div class="userActionDiv">
      <button class="btn mt-3 dashboardBtn" (click)="cancelRide('100ms', '100ms')"> Cancel Ride </button>
      <button class="btn mt-3 dashboardBtn" (click)="createRide('100ms', '100ms')"> Create Ride </button>
      <button class="btn mt-3 dashboardBtn userProfile" [matMenuTriggerFor]="menu1"> {{userName}}<mat-icon class="userIcon">account_circle</mat-icon>
      </button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item style="min-height:0;"  (click)="logOut()" >Logout <mat-icon>logout</mat-icon></button>
      </mat-menu>

    </div>
  </div>


  <mat-tab-group [(selectedIndex)]="test">
    <mat-tab label="Rides">
      <ng-template matTabContent>
        <app-ride-list></app-ride-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="My Rides">
      <ng-template matTabContent>
        <app-my-rides></app-my-rides>
      </ng-template>
    </mat-tab>
    <mat-tab label="Requested Rides">
      <ng-template matTabContent>
        <app-request-ride-dashboard (showRideList)="setTab($event)"></app-request-ride-dashboard>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- loader template -->
<div class="my-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
    </div>
  </ng-template>

  <ngx-loading [show]="loading"
    [config]="{ backdropBorderRadius: '3px', primaryColour: '#5a91a5', secondaryColour: '#5a91a5', tertiaryColour: '#5a91a5' }"
    [template]="customLoadingTemplate"></ngx-loading>
</div>
