<div class="createRideContainer1">
    <div class="wrapper  createRideContainer" style="margin: 0;">
        <div class="text-center mt-4 name" style="margin-bottom: 10px;">
            CT- Create Ride
        </div>

        <form class="p-3 mt-3 registerAmination" [formGroup]="newRide">
            <div class="form-field d-flex align-items-center">
                <mat-radio-group #vehicle (change)="vehicleType($event)" formControlName="ridetype"
                    [ngClass]="{ 'is-invalid' : submitted && f.ridetype.errors }">
                    <mat-radio-button value="Car" [checked]="rideType==='Car'"> Car </mat-radio-button>
                    <mat-radio-button value="Bike" [checked]="rideType==='Bike'"> Bike </mat-radio-button>
                </mat-radio-group>
            </div>
            <div *ngIf="submitted && f.ridetype.errors" class="invalid-feedback">
                <div class="errorMsg" *ngIf="f.ridetype.errors.required">ride type is required</div>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="text" placeholder="Vehicle Number" formControlName="vehiclenumber"
                    [ngClass]="{ 'is-invalid' : submitted && f.vehiclenumber.errors }" maxlength="10">

            </div>
            <div *ngIf="submitted && f.vehiclenumber.errors" class="invalid-feedback">
                <div class="errorMsg" *ngIf="f.vehiclenumber.errors.required">vehicle number is
                    required</div>
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="text" placeholder="Vehicle Colour" formControlName="vehiclecolor"
                    [ngClass]="{ 'is-invalid' : submitted && f.vehiclecolor.errors }">

            </div>
            <div *ngIf="submitted && f.vehiclecolor.errors" class="invalid-feedback">
                <div class="errorMsg" *ngIf="f.vehiclecolor.errors.required">vehicle color is
                    required</div>
            </div>

            <select name="cars" id="cars" class="form-field d-flex align-items-center selectoption"
                formControlName="vehicletype" [ngClass]="{ 'is-invalid' : submitted && f.vehicletype.errors }">
                <!-- <option [disabled]="true" [selected]="true">Choose a Car Type</option> -->
                <option class="selectoptions" *ngFor="let data of carTypeList" value="{{data}}"
                    [selected]="data===this.cartype">{{data}}</option>
            </select>

            <div *ngIf="submitted && f.vehicletype.errors" class="invalid-feedback">
                <div class="errorMsg" *ngIf="f.vehicletype.errors.required">car type is required</div>
            </div>

            <div class="section2">
                <div class="section2-form-field">
                    <div class="form-field d-flex align-items-center">
                        <span class="fas fa-key"></span>
                        <input type="text" placeholder="Ride From" formControlName="from"
                            [ngClass]="{ 'is-invalid' : submitted && f.from.errors }">

                    </div>
                    <div *ngIf="submitted && f.from.errors" class="invalid-feedback">
                        <div class="errorMsg" *ngIf="f.from.errors.required">from is required</div>
                    </div>
                </div>
                <div class="section2-form-field">
                    <div class="form-field d-flex align-items-center">
                        <span class="fas fa-key"></span>
                        <input type="text" placeholder="Ride To" formControlName="to"
                            [ngClass]="{ 'is-invalid' : submitted && f.to.errors }">

                    </div>
                    <div *ngIf="submitted && f.to.errors" class="invalid-feedback">
                        <div class="errorMsg" *ngIf="f.to.errors.required">to is required</div>
                    </div>
                </div>
                <div class="section2-form-field">
                    <div class="form-field d-flex align-items-center">
                        <span class="fas fa-key"></span>
                        <input type="number" placeholder="Fare" formControlName="fare"
                            [ngClass]="{ 'is-invalid' : submitted && f.fare.errors }"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            maxlength="6">

                    </div>
                    <div *ngIf="submitted && f.fare.errors" class="invalid-feedback">
                        <div class="errorMsg" *ngIf="f.fare.errors.required">fare is required</div>
                    </div>
                </div>
                <div class="section2-form-field">
                    <div class="form-field d-flex align-items-center">
                        <span class="fas fa-key"></span>
                        <input type="number" placeholder="Number Of Seats Available" formControlName="seats"
                            [ngClass]="{ 'is-invalid' : submitted && f.seats.errors }"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            maxlength="1">

                    </div>
                    <div *ngIf="submitted && f.seats.errors" class="invalid-feedback">
                        <div class="errorMsg" *ngIf="f.seats.errors.required">seats is required</div>
                    </div>
                </div>
                <div class="section2-form-field">
                    <div class="form-field d-flex align-items-center">
                        <input type="date" formControlName="date" required>
                    </div>
                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                        <div class="errorMsg" *ngIf="f.date.errors.required">ride date is required</div>
                    </div>
                </div>
                <div class="section2-form-field">

                    <div class="form-field d-flex align-items-center">
                        <input type="time" id="appt" name="appt" min="09:00" max="18:00" formControlName="time"
                            required>
                    </div>
                    <div *ngIf="submitted && f.time.errors" class="invalid-feedback">
                        <div class="errorMsg" *ngIf="f.time.errors.required">ride time is required</div>
                    </div>
                </div>


            </div>
            <button class="btn mt-3" (click)="Submit()">submit</button>
        </form>
        <br>
        <!-- <div class="text-center">
            <a (click)="sharedDataService.isSignIn=true"><u> Back</u></a> 
        </div> -->
    </div>
</div>