
<div class="req_dashboard_Container">
    <div *ngFor="let req of rideDetails" class="req_dashboard_Card registerAmination">
        <table class="table ">
            <tr>
                <td>Ride Requested From</td>
                <td>{{req.requestedFrom}}</td>
            </tr>
            <tr>
                <td>Ride From</td>
                <td>{{req.requestedFromfrom}}</td>
            </tr>
            <tr>
                <td>Ride To</td>
                <td>{{req.requestedFromto}}</td>
            </tr>
            <tr>
                <td>Ride Time:</td>
                <td>{{req.requestedFromTime}}</td>
            </tr>

        </table>
        <div class="userAction">
            <button class="btn mt-3 req-dashboardBtn " (click)="accept()"> Accept  </button>
            <button class="btn mt-3 req-dashboardBtn" (click)="reject()"> Reject </button>
        </div>
        
       
    </div>


</div>