<div *ngIf="isrideDetails" class="req_dashboard_Container">
    <div *ngFor="let req of rideDetails" class="req_dashboard_Card registerAmination">
        <table class="table ">
            <tr>
                <td>Requested From</td>
                <td><b>{{req.requestedFrom}}</b></td>
            </tr>
            <tr>
                <td>Ride From</td>
                <td><b>{{req.requestedFromfrom}}</b></td>
            </tr>
            <tr>
                <td>Ride To</td>
                <td><b>{{req.requestedFromto}}</b></td>
            </tr>
            <tr>
                <td>Ride Time:</td>
                <td><b>{{req.requestedFromTime}}</b></td>
            </tr>
            <tr>
                <td>Ride Status:</td>
                <td><b>{{req.isAccepted == true ? 'Accepted' : 'Pending'}}</b></td>
            </tr>

        </table>
        <div class="userAction">
            <button class="btn mt-3 req-dashboardBtn " [disabled]="req.isAccepted"
                (click)="accept(req.requestedFrom, req._id)"> Accept </button>
            <button class="btn mt-3 req-dashboardBtn" (click)="reject(req.requestedFrom, req._id)"> Reject </button>
        </div>


    </div>
</div>
<div *ngIf="!isrideDetails" class="req_dashboard_Container">
    Data is Not Found
</div>
<!-- loader template -->
<div class="my-container">
    <ng-template #customLoadingTemplate>
        <div class="custom-class">
        </div>
    </ng-template>

    <ngx-loading [show]="loading"
        [config]="{ backdropBorderRadius: '3px', primaryColour: '#5a91a5', secondaryColour: '#5a91a5', tertiaryColour: '#5a91a5' }"
        [template]="customLoadingTemplate"></ngx-loading>
</div>