<div *ngIf="isSignIn" class="wrapper loginAmination">
    <div class="logo">
        <img src="../../assets/car.gif" alt="">
    </div>
    <br>
    <div class="text-center mt-4 name">
        CT- Car Pool
    </div>
    <br>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <button class="btn mt-3">Login</button>
    </form>
    <br>
    <div class="text-center">
        <a href="#"><u> Forget password?</u></a> or <a (click)="onSignUpclick()"><u>Sign up</u></a>
    </div>
</div>


<!-- sign Up starts-->
<div *ngIf="!isSignIn" class="wrapper registerAmination" style="margin: 50px auto;" >
   
    <div class="text-center mt-4 name">
        CT- Car Pool
    </div>
    <br>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" placeholder="Name">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="email" placeholder="Email Id">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" placeholder="Password">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="number" placeholder="Mobile Number">
        </div>
        <div class="form-field d-flex align-items-center" style="padding-left: 0;">
            <span class="fas fa-key"></span>
            <button class="btn mt-3">Get Otp</button>
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="number" placeholder="Enter Otp">
        </div>
        <mat-checkbox class="example-margin">Check me!</mat-checkbox>
        <button class="btn mt-3">Submit</button>
    </form>
</div>
<!-- sign Up ends-->
