<!-- sign Up starts-->
<div *ngIf="!sharedDataService.isVehicle" class="wrapper registerAmination" style="margin: 25px auto;" >
   
    <div class="text-center mt-4 name">
        CT- Car Pool
    </div>
    <br>
    <form class="p-3 mt-3" [formGroup]="SignUp">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" placeholder="Name" formControlName="name">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="email" placeholder="Email Id" formControlName="emailId">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" placeholder="Password" formControlName="password">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="number" placeholder="Mobile Number" formControlName="mobileNo">
        </div>
        <div class="form-field d-flex align-items-center" style="padding-left: 0;">
            <span class="fas fa-key"></span>
            <button class="btn mt-3" (click)="getOTP()">Get Otp</button>
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="text" placeholder="Enter Otp" formControlName="otp">
        </div>
        <mat-checkbox #checkbox class="example-margin" [checked]="false" (change)="onTickCheckBox($event)">Do you have vehicle?</mat-checkbox>
        
        <button class="btn mt-3" (click)="Submit()">{{UserAction}}</button>
    </form>
    <br>
    <div class="text-center">
        <a (click)="sharedDataService.isSignIn=true"><u> Back</u></a> 
    </div>
</div>
<!-- sign Up ends-->

<!-- vehicle registration starts-->
<app-car-details *ngIf="sharedDataService.isVehicle"></app-car-details>
<!-- sign Up ends-->
