<div  class="wrapper registerAmination" style="margin: 50px auto;" >
   
    <div class=" name">
        CT- Ride Details
    </div>
    <br>
    <div class="name details">
       <label> Ride Type :</label>
       <label> Car </label>
    </div>
    <div class="name details">
       <label> Ride Type :</label>
       <label> Car </label>
    </div>
    <div class="name details">
       <label> Ride Type :</label>
       <label> Car </label>
    </div>
    <div class="name details">
       <label> Ride Type :</label>
       <label> Car </label>
    </div>
    <br>
    
</div>